h3{
    margin-left:70px;
    margin-bottom:25px;
}
.heading{ 
    position:absolute;
    left:800px;
}


/* projects.css */

.portfolio {
    padding: 20px;
}

/* .project {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 30px;
    padding: 20px;
} */

.project h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.project p {
    font-size: 20px;
    line-height: 1.5;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project .btn {
    margin-top: 15px;
}



.websiteImg{
    position:absolute;
    top:850px;
}

